@tailwind base;
@tailwind components;


.card {
    @apply container m-auto shadow-md
    rounded-md bg-gray-50;
}

.card-header {
    @apply p-3 pt-4 font-semibold border-b border-gray-200;
}

.card-body {
    @apply p-3;
}

.br-g {
    @apply border border-green-500;
}

.br-b{
    @apply border border-blue-500;
}
.br-gray{
    @apply border border-gray-500;
}


@tailwind utilities;
